#filter-inputs {
    position: fixed;
    width: 20%;
    z-index: 5;
}

input {
    max-width: 100px;
}

#category-selector, .category {
    background: linear-gradient(to top, #039b03 0%, #02cf09 100%);
    color: black;
    max-width: 200px;
    border: none;
    box-sizing: border-box;
    transition-duration: 0.4s;
    padding: 12px 24px;
    text-align: center;
    margin: 4px 4px;
}

#category-selector {
    margin-bottom: 10px;
}

#category-selector:hover, .category:hover {
    cursor: pointer;
    background-color: rgb(83, 224, 88);
    color: white;
}

button {
    margin: 4px 4px;
    padding: 10px 16px;
    font-size: 16px;
}

button[selected] {
    background: linear-gradient(to top, black 0,1%, rgb(133, 31, 31) 25%, rgb(179, 98, 98) 100%);
    margin: 4px 4px;
    padding: 15px 21px;
}

.pages {
    text-align: center;
}
