#filter-inputs {
    position: fixed;
    width: 20%;
    z-index: 5;
}

input {
    max-width: 100px;
}

#category-selector, .category {
    background-color: rgb(56, 190, 3); 
    color: black;
    max-width: 200px;
    border: 1px solid rgb(198, 248, 185);
    box-sizing: border-box;
    transition-duration: 0.4s;
    padding: 5px 0 5px 0;
    text-align: center;
}

#category-selector {
    margin-bottom: 10px;
}

#category-selector:hover, .category:hover {
    cursor: pointer;
    background-color: rgb(83, 224, 88);
    color: white;
}
