<div id="profile-info" class="center">
  <h2 class="center">
    My profile
  </h2>
  <p>
  Username: {{ userName }}
  </p> 

  <p>
    Email:  {{ userEmail }}
  </p>

  <p>
    Firstname:  {{ userFirstName }}
  </p>

  <p>
    Lastname: {{ userLastName }}
  </p>

  <p>
    Phone: {{ phone }}
  </p>

  <p>
    Country: {{ country }}
  </p>

  <p>
    State: {{ state }}
  </p>

  <p>
    City: {{ city }}
  </p>

  <p>
    Street: {{ street }}
  </p>

  <h3>Change your password</h3>
  <input placeholder="new password 1" #newPassword1>
  <br/>
  <input placeholder="new password 2" #newPassword2>
  <button (click)="submit(newPassword1, newPassword2)">Submmit</button>

</div>
