<app-message *ngIf="errorMessage" [message]="errorMessage"></app-message>
<div *ngIf="!errorMessage" id="profile-info" class="center">
  <h2 class="center">
    My profile
  </h2>
  <table *ngIf="user">
    <tr>
      <td>Username:</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Firstname:</td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td>Lastname:</td>
      <td>{{ user.lastName }}</td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>{{ user.credentials.phone }}</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>{{ user.credentials.country }}</td>
    </tr>
    <tr>
      <td>State:</td>
      <td>{{ user.credentials.state }}</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>{{ user.credentials.city }}</td>
    </tr>
    <tr>
      <td>Street:</td>
      <td>{{ user.credentials.street }}</td>
    </tr>
  </table>

  <h3>Change your password</h3>
  <input placeholder="old password" #oldPassword>
  <br/>
  <input placeholder="new password 1" #newPassword1>
  <br/>
  <input placeholder="new password 2" #newPassword2>
  <button (click)="submit(oldPassword, newPassword1, newPassword2)">Submmit</button>
  <br/>
  <div id="response">
  <p> {{ response }} </p>
  </div>
</div>
