<p>
  <input [(ngModel)]="accountName" placeholder="Account name"(keyup)="checkAccountnameSpace()"/>
</p>
<p *ngIf="accountMessage">
  {{ accountMessage }}
</p>
<p>
  <input [(ngModel)]="email" placeholder="E-mail"(keyup)="checkValidEmail()"/>
</p>
<p *ngIf="emailMessage">
  {{ emailMessage }}
</p>
<p>
  <input [(ngModel)]="password" placeholder="Password"/>
</p>
<p>
  <input [(ngModel)]="confirmPassword" placeholder="Confirm password"
    (keyup)="checkPasswordMatch()"/>
</p>
<p *ngIf="passwordMessage">
  {{ passwordMessage }}
</p>
<p>
  <input [(ngModel)]="firstName" placeholder="First name"/>
</p>
<p>
  <input [(ngModel)]="lastName" placeholder="Last name"/>
</p>
<p *ngIf="message">
  {{ message }}
</p>
<p>
  <button (click)="register()">Register</button>
  <button routerLink="../login"> Back</button>
</p>
