<app-home></app-home>
<div id='id01' class='modal'>
  <div class="modal-content animate" action="/action_page.php">
    <div class='container'> 
      
      <input [(ngModel)]="accountName" placeholder="Account name" type='accountName'/>
      <input [(ngModel)]="email" placeholder="E-mail" type='email'/>  
      <input [(ngModel)]="password" placeholder="Password" type='password'/>  
      <input [(ngModel)]="confirmPassword" placeholder="Confirm password"
        (keyup)="checkPasswordMatch()" type='confirmPassword'/>
      
      <p *ngIf="passwordMessage">
        {{ passwordMessage }}
      </p>
    
      <input [(ngModel)]="firstName" placeholder="First name" type='firstName'/> 
      <input [(ngModel)]="lastName" placeholder="Last name" type='lastName'/>
    
      <p *ngIf="message">
        {{ message }}
      </p>
      
      <button (click)="register()">Register</button>
      <button>Back</button>
      
    </div>
  </div>
</div>