.category-body {
    background: rgb(211, 208, 208);
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:5px;
    width: 60%;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    animation: float 5s infinite;
}

.input-field {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 14px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 99.5%;
    font-size: 16px;
    margin: 8px 0;
    cursor: auto; 
}

table {
    width: 100%;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

table td.first-td {
    color:rgb(6, 8, 10);
    background: linear-gradient(to top, #039b03 0%, #00ff08 100%);
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    font-weight: 100;
    padding:10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    width: 60%;
}

table td.type-td {
    color:rgb(6, 8, 10);
    background: rgb(211, 208, 208);
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    font-weight: 100;
    padding:10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    width: 20%;
}

table td.last-td {
    color:rgb(6, 8, 10);
    background: rgb(211, 208, 208);
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    font-weight: 100;
    padding:10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    width: 20%;
    cursor: pointer;
}

table td.last-td:hover {
    background-color: red;
    transition-duration: 0.4s;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    border-radius:5px;
}

button {
    background-color: rgb(56, 190, 3); 
    color: black; 
}

button:hover {
    background-color: rgb(83, 224, 88);
    color: white;
}
