<app-message *ngIf="errorMessage" [message]="errorMessage"></app-message>
<div *ngIf="!errorMessage">
  <app-message *ngIf="responseMessage" [message]="responseMessage"></app-message>
  <input [(ngModel)]="categoryName" placeholder="Category name">
  <table>
    <tr *ngFor="let attribute of attributes">
      <td>{{ attribute.name }}</td>
      <td>{{ attribute.type }}</td>
      <td (click)="removeAttribute(attribute)">Remove</td>
    </tr>
  </table>
  <input [(ngModel)]="attributeName" placeholder="Attribute name">
  <br>
  <input type="radio" name="categoryType" value="Text" checked>Text
  <input type="radio" name="categoryType" value="Number">Number
  <input type="radio" name="categoryType" value="Yes/No">Yes/No
  <p *ngIf="inputErrorMessage">{{ inputErrorMessage }}</p>
  <br>
  <button (click)="addAttribute()">Add attribute</button>
  <br>
  <button (click)="submit()">Add this category</button>
</div>
