
/*Top Menu Bar*/
.container {
    display: flex;
    border: 0px;
    background: linear-gradient(to bottom right, rgb(2, 2, 105) 0%, rgba(194, 189, 189, 0.174) 100%);
    overflow: visible;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 80px;
    z-index: 20;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.left {
    padding: 15px;
    display: inline-block;
    text-align: left;
    width: 33%;
    overflow: hidden;
}

.right {
    padding: 15px;
    display: inline-block;
    text-align: right;
    width: 33%;
    overflow: visible;
}

button {
    background: linear-gradient(to top, #039b03 0%, #00ff08 100%);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: rgb(56, 190, 3); 
    color: black; 
}

button:hover {
    background-color: rgb(83, 224, 88);
    color: white;
}
 
input {
    width: auto;
    padding: 8px 22px;
    border: 2px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    background-color: white;
}

.search-container {
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 33%;
}

.search-container button {
    margin-left: 0px;
    padding: 10px 22px;
    background: #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}

hr {
    position: absolute;
    border: 0;
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: rgb(56, 190, 3)   ;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(56, 190, 3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(83, 224, 88);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:rgb(83, 224, 88);}

#message-cover {
    position: fixed;
    background-image: url('../../assets/img/backgroundfield.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
}
