<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="left">
      <button routerLink="/">Home</button>
      <button routerLink="/place-ad">Place ad</button>
      <button class="middle">BUY PREMIUM</button>
  </div>
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="right">
    <div class="dropdown">
      <button class="dropbtn">My account</button>
      <div class="dropdown-content">
        <a href="#">My Profile</a>
        <a href="#">My ads</a>
      </div>
    </div> 
    <button (click)="auth()">{{ logOption }}</button>
  </div>
</div>
