.product-picture {
    max-width: 300px;  
    max-height: 300px;
}

.picture-container {
    border: 5px solid green;
    height: 300px;
    width: 300px;
    background-color: darkgray;
    cursor: pointer;
}

button {
    background-color: rgb(56, 190, 3);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(83, 224, 88);
    color: white;
}
