.container {
    margin-top: 12%
}

.product-picture {
    max-width: 300px;  
    max-height: 300px;
}

.picture-container {
    border: 5px solid green;
    height: 300px;
    width: 300px;
    background-color: darkgray;
    cursor: pointer;
}
