<app-message *ngIf="errorMessage" [message]="errorMessage"></app-message>
<div *ngIf="product && !errorMessage">
  <button (click)="deleteProduct()" *ngIf="isAdmin && !isOwnProduct">Remove</button>
  <button (click)="editProduct()" *ngIf="isOwnProduct">Edit</button>
  <app-message *ngIf="message" [message]='message'></app-message>
  <div class="text-container">
    <h2>{{ product.title }}</h2>
    <h3>${{ product.price }}</h3>
    <p>{{ product.description }}</p>
    <table>
      <tr *ngFor="let attribute of productAttributes">
        <td>{{ attribute }}:</td>
        <td>{{ product.attributes[attribute] }}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div>
    <button id="contact-button" (click)="contact()">{{ contactButtonText }} contact</button>
    <div class="contact-container" *ngIf="contactButtonText == 'Hide'">
      <a href="/users/{{ product.ownerId }}">{{ product.ownerName }}</a>
      <p>E-mail: {{ product.ownerEmail }}</p>
      <p>Phone: {{ product.ownerPhone }}</p>
    </div>
  </div>
  <div *ngIf="selectedPictureSrc" id="dark" (click)="selectedPictureSrc = null;">
    <p id="help-text">Click here to dismiss</p>
    <img id="large-picture" src="{{ selectedPictureSrc }}">
  </div>
  <div id="pictures-spacer"></div>
  <div id="pictures-container">
    <div class="picture-frame"
        *ngFor="let id of product.pictureIds"
        (click)="selectedPictureSrc = 'http://localhost:4200/api/images/' + id">
      <img class="product-picture" src="http://localhost:4200/api/images/{{ id }}">
    </div>
  </div>
</div>
