.product-picture {
    max-width: 300px;  
    max-height: 300px;
}

.picture-frame {
    box-sizing: border-box;
    border: 5px solid green;
    background-color: darkgray;
    cursor: pointer;
    text-align: center;
    height: 150px;
    width: 12.5%;
    overflow: hidden;
    float: left;
    transition-duration: 500ms;
}

.picture-frame:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 1);
    border: 5px solid #2fbc50;
}

#pictures-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#dark {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#large-picture {
    margin-bottom: 160px;
    max-height: 65%;
}

#help-text {
    margin-top: 85px;
    margin-bottom: 5px;
}

button {
    background-color: rgb(56, 190, 3);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(83, 224, 88);
    color: white;
}
