<div id='login-container' class='modal'>
    <form  class="modal-content animate" (submit)="login()">
        <button (click)="hide()" type="button">X</button>
        <div class="imgcontainer">
            <img src="assets/img/avatar.jpeg" alt="Avatar" class="avatar">
        </div>
        <div class="login-container">
            <input class="login-input" [(ngModel)]="userName" name="userName" placeholder="Username" type="userName"/>
            <input class="login-input" [(ngModel)]="password" name="password" placeholder="Password" type="password"/>
            <p *ngIf="errorMessage">{{ errorMessage }}</p>
            <button class="login-button" type="submit">Login</button>
            <button class="login-span" type="button" (click)="showRegister()">Register</button>
            <button class="google-login-button" type="button" (click)="signIn()">Sign in with Google</button>
        </div>
    </form>
</div>
