<app-home></app-home>
<div id='id01' class='modal'>
    <form  class="modal-content animate" action="/action_page.php" (submit)="login()">
        <div class="imgcontainer">
            <img src="assets/img/avatar.jpeg" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <input [(ngModel)]="accountName" name="accountName" placeholder="Username" type="accountName"/>
            <input [(ngModel)]="password" name="password" placeholder="Password" type="password"/>
            <p *ngIf="errorMessage">{{ errorMessage }}</p>
            <button type="submit">Login</button>
            <button routerLink="../register">Register</button>
        </div>
    </form>
</div>