img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    float: left;
}

h2 {
    position: relative;
    margin-left: 200px;
}

h4 {
    position: relative;
    margin: 10px 0px 20px 200px;
}
