.product {
    margin: auto;
    width: 50%;
    height: 150px;
    border: 10px solid green;
    padding: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms, width 500ms, height 500ms;
    transition: border 200ms;
    border-radius: 5px;
    background: white;
}

.product:hover {
    border: 10px solid #2fbc50;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    float: left;
}

h2 {
    position: relative;
    margin: 0 0 0 170px;
}

h4 {
    position: relative;
    margin: 10px 0px 10px 170px;
}

p {
    position: relative;
    margin-left: 170px;
}
