img {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    float: left;
}

h2 {
    position: relative;
    margin: 0 0 0 170px;
}

h4 {
    position: relative;
    margin: 10px 0px 10px 170px;
}

p {
    position: relative;
    margin-left: 170px;
}
